*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
font-family: Arial, Helvetica, sans-serif;
text-transform: capitalize;
}
/* /////////////////////// */
.nav-link  , #a1{
    color:white;
}
.nav-link:hover{
    color: rgb(221, 170, 151);
}
nav{
  background-color: rgb(164, 124, 110);
  height: 70px;
  opacity: .8; 
  }
#home, nav i{
  color: rgb(252, 198, 177);
  }
.dropdown-menu a{
  color: rgb(66, 47, 40);
}
.navbar-brand:hover{
  text-shadow: 10px 10px 30px white;
}
.navbar-brand{
  transition: .2s;
}
.dropdown-menu  a{
  text-shadow: 1px 1px 0px rgb(183, 139, 123);
}
 #x{
  background-color: rgb(164, 124, 110);
} 
/* /////////////// */
  .carousel-inner h1{
    text-shadow: 1px 1px #333;
}
.carousel-inner .carousel-caption{
    background: rgba(200, 200, 200, 0.3);
    border-radius: 7px;
}
/* ////////////////// */
#topcard .btn{
  background-color: rgb(216, 158, 135);
  border: 0;
  color: white;
}
 #topcard .btn:hover{
  color: rgb(115, 81, 69);
} 
#topcard p , h5{
  color: rgb(152, 105, 88);
}

 #topcard h3 , h4 , .H2COLOR{
  color: rgb(84, 62, 54);
}
#topcard .lasta{
  background-color: white;
  color: rgb(66, 47, 40);
}
#topcard .lasta:hover{
  color: rgb(152, 105, 88);
  text-decoration: none;

}
/* /////////////// */
.H3COLOR , .divpic{
  background-color:rgb(164, 124, 110) ;
}
.teamcard a{
  color:rgb(216, 158, 135);
}

 /* ///// */
 .fixedimg{
  height: 40vh;
  background:   url(../images/screentwo.png) no-repeat fixed center ;
 }
 
.fixedimgg{
  height: 40vh;
   background:url(../images/Screenshot\ 2023-02-16\ 212106.png) no-repeat fixed center ;
}
 /* ////////////// */
  #divicon a:hover{
  color: white;
 } 
 #divicon .card-link{
  color: rgb(93, 67, 58);
  margin-top: 20px;
 }
 #divicon #a-1{
  display: flex;
  position: relative;
  width: 50px;
  height: 45px;
  margin:auto;
  font-size: 60px;
  text-decoration: none;
  justify-content: center;
  align-items:center;
  color: white;
  z-index: 5;
  transition: .3s;
}
#divicon #a-1::after{
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 50px;
  height: 50px;
  color:  rgb(115, 81, 69);
  z-index: -1;
  transition: .3s;
}
#divicon #a-1:hover{
  transform: rotate(-16deg);
   color: rgb(115, 81, 69); ;
}
#divicon #a-1:hover::before{
  transform: rotate(16deg);
  -webkit-transform: rotate(16deg);
  -moz-transform: rotate(16deg);
  -ms-transform: rotate(16deg);
  -o-transform: rotate(16deg);
}

/* ///////////////// */
.accordion {
  background-color:white;
  color:  rgb(115, 81, 69);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}
.active, .accordion:hover {
  background-color: rgb(216, 158, 135);
  color: white;
}
.accordion:after {
  content: '\002B';
  color:rgb(115, 81, 69);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* ///////////// */
#mdf{
  background-color: rgb(216, 158, 135);
  border: 0;
  color: white;
}
#mdf:hover{
  color: rgb(115, 81, 69);

}
